@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }
  .my-print-container, .my-print-container * {
    visibility: visible;
  }
  .my-print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  @page {
    margin: 0;
  }
}
